* { box-sizing: border-box; }

form {
  margin: 50px auto;
  max-width: 500px;
  background: #F7F7F7;
  padding: 0 15px 25px 10px;
  font-size: 12px;
  font-family: Georgia, "Times New Roman", serif;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid #E4E4E4;
}

h1 {
  font-size: 25px;
  padding: 0 0 10px 40px;
  border-bottom: 1px solid #E4E4E4;
  color: #888;
}
h1 > span {
  display: block;
  font-size: 11px;
}

label {
  display: block;
  margin: 0;
}
label > span {
  float: left;
  width: 86px;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
  color: #888;
}

input[type="text"],
input[type="email"],
textarea,
select {
  border: 1px solid #DADADA;
  color: #888;
  margin: 10px 6px 16px 0;
  outline: none;
  padding: 5px;
  width: calc(100% - 100px); /* responsive width */
  font-size: 12px;
  line-height: 15px;
}

textarea {
  resize: none;
  height: 100px;
}

select {
  height: 35px;
}

.button {
  background: #E27575;
  border: none;
  padding: 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  text-shadow: 1px 1px 1px #9E3F3F;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  width: 200px;
}

.button:hover {
  background: #c95c5c;
  box-shadow: 0px 0px 5px #333;
}
